@(message: String, txns: List[models.Transaction])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Welcome to Play 2.0") {

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@message.toUpperCase</a>
            </div>
        </div>
    </div>

    <div class="container">

        <!-- list existing txns --> 
        <table class="table table-bordered">
        	<tr>
        		<th>Date</th>
        		<th>Transaction Number</th>
        		<th>Account Number</th>
        		<th>Amount</th>
        		<th>Type</th>
        		<th>Reference</th>
        	</tr>
        
			@for(tx <- txns) {
			  <tr>
			  <td>@tx.date</td>
			  <td>@tx.id</td>
			  <td>@tx.accountNumber</td>
			  <td>@tx.amount</td>
			  <td>@tx.transactionType</td>
			  <td>@tx.reference</td>
			  </tr>
			} 
        
        </table>
    </div>

}