@(message: String, accounts: List[Account])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Welcome to Play 2.0") {

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@message.toUpperCase</a>
            </div>
        </div>
    </div>

    <div class="container">

		<a href="./createacc" class="btn btn-primary ">Create New</a>
		
        <!-- list existing accounts --> 
        <table class="table table-bordered">
        	<tr>
        		<th>Account Number</th>
        		<th>Name</th>
        		<th>Balance</th>
        		<th>Actions</th>
        	</tr>
        	
			@for(a <- accounts) {
			  <tr>
			  <td>@a.accountNumber</td>
			  <td>@a.name</td>
			  <td>@a.balance</td>
			  <td><a href="./transactions/@a.id">Transactions</a> | <a href="./accounts/@a.accountNumber">View</a></td>
			  </tr>
			} 
        
        </table>
    </div>

}